.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
@media (max-width:768px){
    .academic__courses{
        justify-content: space-between;
    }
}