.skills__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
    margin-left:9%;
}
@media (max-width:768px){
    .skills__line{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}