.skills__title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    padding-bottom: 2%;
}
@media(max-width:768px){
    .skills__title{
        font-size: 22px;
    }
}